:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  height: auto;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


html, body, p, h1, h2, h3, h4, h5, h6, pre, code {
  margin: 0 !important;
  padding: 0 !important;
}


p,
div,
ul,
li {
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    height: 10px;
    background-color: #e9e9e9;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    background-color: #c3c3c3;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}